* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.6;
  min-width: 320px;
  position: relative;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

input,
textarea {
  background-color: #f6f6f6;
  font-family: "Open Sans";
}
input::placeholder,
textarea::placeholder {
  color: #9f9f9f;
}

.def-title {
  font-size: 42px;
  font-weight: 700;
  position: relative;
  margin-bottom: 25px;
  line-height: 1.4;
}

.def-title::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 33px;
  left: calc(-100% - 25px);
  background-color: #d62e4c;
}

.def-btn {
  background-color: #d62e4c;
  padding: 15px 45px;
  display: inline-block;
  transition: background-color 0.35s ease;
  font-size: 16px;
  color: #fff;
}
.def-btn:hover {
  background-color: #bb2440;
}

.center-title {
  font-size: 42px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.center-title::after {
  content: "";
  height: 1px;
  width: 70px;
  background-color: #d62e4c;
  display: block;
  margin: 15px auto 0 auto;
}

.center-title.color-white {
  color: #fff;
}

.center-title.color-white::after {
  background-color: #fff;
}

.def-desc {
  color: #6d6a6a;
  font-size: 14px;
  line-height: 1.9;
}

.def-desc strong {
  color: #000;
}

/* header */

.header-top {
  background-color: #18353e;
  color: #fff;
  padding: 18px 0 55px;
  font-size: 14px;
}

.header-row {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  gap: 74px;
  margin-left: auto;
}

.header-info {
  display: flex;
  align-items: center;
}

.header-info img {
  margin-right: 16px;
  max-width: 22px;
}

.header-social {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header-bottom {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
}

.header-bottom-row {
  display: flex;
  background-color: #d62e4c;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
}

.header-logo {
  background-color: #fff;
  padding: 15px 60px 15px 40px;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, 100% 0%, 82.68% 101.2%, 0 100%);
}

.header-logo img {
  max-width: 160px;
}

.header-nav {
  padding: 10px 60px;
  margin-left: auto;
}

.header-nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 50px;
}

/* banner */

.banner-swiper .swiper-slide {
  padding: 175px 0;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 640px;
}

.banner-swiper .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 31, 31, 0.8);
  z-index: -1;
}

.banner-content {
  max-width: 750px;
  margin: 0 auto;
}

.banner-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.banner-title {
  font-size: 46px;
  font-weight: 300;
  line-height: 1.3;
}

.swiper-button-next {
  right: 40px;
}

.swiper-button-prev {
  left: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background-color: #5a5454;
  width: 60px;
  height: 60px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 28px;
}

.swiper-pagination {
  bottom: -30px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 0;
  background-color: #d9d9d9;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #d62e4c;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 10px;
}

/* about */
.s-about {
  padding: 90px 0;
}

.s-about .def-desc {
  margin-bottom: 30px;
}

.about-row {
  display: flex;
  align-items: center;
}

.about-left {
  margin-right: 90px;
  max-width: 505px;
}

.about-right {
  width: 550px;
}

.about-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* numbers */
.s-numbers {
  background-color: #18353e;
  color: #fff;
  padding: 72px 0;
}

.s-numbers .def-title::before {
  background-color: #fff;
}

.numbers-row {
  display: flex;
}

.numbers-left {
  width: 50%;
  padding-right: 100px;
  border-right: 1px solid #d5d5d5;
}

.numbers-right {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  text-align: center;
}

.numbers-num {
  font-size: 52px;
  font-weight: 900;
  margin-bottom: 5px;
  line-height: 1.3;
}
.numbers-desc {
  font-weight: 300;
  row-gap: 78px;
}

/* services */
.s-services {
  padding: 100px 0;
}

.services-row {
  display: flex;
  column-gap: 35px;
}

.services-item {
  box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.15);
}

.services-body {
  padding: 15px 20px 30px 20px;
}

.services-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-title {
  font-size: 20px;
}

.services-btn {
  width: 100%;
  text-align: center;
  padding: 12px 45px;
}

.modal-form {
  background-color: #fff;
  max-width: 455px;
  margin: 0 auto;
  padding: 20px 45px 40px 45px;
}

.modal-form-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d5d2d2;
  margin-bottom: 30px;
  padding-bottom: 18px;
}

.modal-form-logo {
  max-width: 190px;
}

.modal-form-close {
  cursor: pointer;
}

.modal-form-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}

.modal-form-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 70px;
  background-color: #d62e4c;
  margin: 20px auto 0 auto;
}

.modal-form input {
  display: block;
  padding: 22px 25px;
  background-color: #f6f6f6;
  font-family: "Montserrat";
  border: none;
  width: 100%;
  outline: none;
  margin-bottom: 24px;
}

.modal-form .form-button {
  background-color: #d62e4c;
  color: #fff;
  max-width: 285px;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 20px 25px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 16px;
  transition: background-color 0.35s ease;
}

.modal-form .form-button:hover {
  background-color: #c32a45;
}

/* gallery */
.s-gallery {
	padding: 100px 0;
	background-color: #F9F9F9;
}

.gallery-wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}

.gallery-wrap a {
	display: block;
	position: relative;
  overflow: hidden;
}

.gallery-item:nth-child(n+7) {
  display: none;
}

.gallery-wrap a.gallery-visible {
  display: block;
}

.gallery-wrap a img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-wrap a:hover::before,
.gallery-wrap a:hover::after,
.gallery-wrap a:hover .gallery-border {
  opacity: 1;
}

.gallery-wrap a::before {
	content: 'Умеличить';
	background-color: rgba(68, 62, 62, 0.72);
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 22px;
  padding-top: 50px;
  opacity: 0;
  transition: 0.5s ease;
}

.gallery-wrap a::after {
	content: url('../images/magnify.svg');
	z-index: 1;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
}

.gallery-border {
  border: 1px solid #fff;
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
}

.gallery-btn {
  text-align: center;
  margin-top: 44px;
}

/* why */
.s-why {
  padding: 100px 0;
}

.why-row {
  display: flex;
  align-items: center;
}

.why-left {
  max-width: 505px;
}

.s-why .def-desc {
  margin: 55px 0;
}

.why-features-item {
  display: flex;
  margin-bottom: 45px;
  max-width: 350px;
}

.why-features-icon {
  margin-right: 15px;
}

.why-right img {
  display: block;
}

.why-features-titile {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.why-features-desc {
  color: #6D6A6A;
}

.why-right {
  margin-left: auto;
}

/* team */

.s-team {
  padding: 100px 0;
  background-color: #F9F9F9;
}

.team-row {
  display: flex;
  column-gap: 35px;
}
.team-item {
  box-shadow: 0px 4px 4px 0px rgba(95, 87, 87, 0.12);
}
.team-thum img {
  max-width: 100%;
  display: block;
}
.team-body {
  background-color: #fff;
  padding: 20px 30px;
}

.team-profi {
  text-transform: uppercase;
  color: #C2C1C1;
  margin-bottom: 5px;
}

.team-name {
  font-size: 22px;
  font-weight: 700;
}

/* reviews */
.s-reviews {
  padding: 100px 0;
  background-size: cover;
}

.s-reviews .swiper-pagination {
  bottom: 0;
  position: static;
  margin-top: 40px;
}

.reviews-item {
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(95, 87, 87, 0.12);
}

.reviews-thumb img {
  max-width: 100%;
}

.reviews-body {
  padding: 18px 30px;
}

.reviews-name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}

.reviews-profi {
  font-weight: 500;
  color: #979494;
  margin-bottom: 15px;
}

.reviews-comment {
  color: #8A8787;
  margin-bottom: 20px;
}

.reviews-social {
  border-top: 1px solid #C5B8B8;
  padding-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 25px;
}

/* partners */
.s-partners {
  padding: 50px 0;
}
.partners-row {
  display: flex;
  align-items: center; 
  column-gap: 70px;
  animation: move 20s linear;
}
.partners-item img {
  max-width: 250px;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* s-form */

.s-form {
  padding: 80px 0;
  background-color: #F9F9F9;
}

.form-row {
  display: flex;
  align-items: center;
}

.form-left {
  max-width: 500px;
}
.s-form .def-desc {
  margin-bottom: 30px;
}

.form-image img {
  max-width: 100%;
}

.form-right {
  margin-left: auto;
}

.form-right form {
  background-color: #fff;
  padding: 60px 45px;
  position: relative;
  box-shadow: 0px -1px 8px 4px rgba(88, 83, 83, 0.12);
}

.form-right form::before {
  content: '';
  width: 100%;
  height: 10px;
  background-color: #D62E4C;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.form-right form input,
.form-right form textarea {
  font-size: 16px;
  font-family: 'Montserrat';
  display: block;
  width: 100%;
  padding: 22px 30px;
  background-color: #F6F6F6;
  border: none;
  outline: none;
  margin-bottom: 24px;
}

.form-button {
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding: 15px 65px;
}

/* footer */
.s-footer {
  background-color: #1C2835;
  color: #fff;
  font-size: 14px;
}

.fotter-row {
  display: flex;

}
.footer-left {
  max-width: 268px;
  padding: 60px 60px 60px 0;
  border-right: 1px solid rgba(239, 239, 239, 0.24);;
}
.footer-logo {
  margin-bottom: 28px;
}

.footer-desc {
  color: #D2D2D2;
  line-height: 1.7;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 60px 0 60px 60px;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  color: #E0E0E0;
}

.footer-title {
  font-size: 18px;
  margin-bottom: 18px;
}

.footer-nav ul li:nth-last-child(n+2) {
  margin-bottom: 15px;
}

.footer-nav ul li a:hover {
  color: #fff;
}

.footer-info-item {
  display: flex;
  align-items: center;
}

.footer-info-item:nth-last-child(n+2) {
  margin-bottom: 22px;
}

.footer-info-icon {
  margin-right: 14px;
}

.footer-info-icon img {
  vertical-align: middle;
  transform: translateY(-3px);
}

.footer-social {
  display: flex;
  column-gap: 30px;
}

.footer-social a {
  transition: 0.35s ease;
}

.footer-social a:hover {
  filter: brightness(2);
}

.footer-copyright {
  border-top: 1px solid rgba(239, 239, 239, 0.24);
  padding: 24px 0;
  text-align: center;
  color: #D2D2D2;
}

/* responsiv */

@media screen and (max-width: 1200px) {

  /* header 1200px */
  
  .header-logo {
    padding: 15px 50px 15px 30px;
  }
  .header-nav {
    padding: 10px 30px;
  }
  
}

@media screen and (max-width: 992px){

  /* header 992px */

  .header-logo {
    padding: 10px 30px 10px 20px;
  }
  .header-logo img {
    max-width: 130px;
  }
  .header-top {
    font-size: 12px;
  }
  .header-right {
    column-gap: 30px;
  }
  .header-info img {
    margin-right: 5px;
    max-width: 18px;
  }
  .header-social {
    column-gap: 15px;
  }
  .header-social a img {
    max-width: 18px;
  }
  .header-nav ul {
    font-size: 14px;
    column-gap: 25px;
  }
}

@media screen and (min-width: 768px) {
  .header-mobile-logo,
  .hamburger,
  .header-mobile-wrap {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  
  /* header 768 */

  .header-top {
    padding: 0;
    border-bottom: 1px solid #9f9f9f;
  }
  .header-desc,
  .header-right,
  .header-bottom {
    display: none;
  }
  .header-mobile-logo {
    background-color: #fff;
    padding: 8px 40px 8px 20px;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 82.68% 101.2%, 0 100%);
    margin-left: -20px;
  }
  .header-mobile-logo img {
    max-width: 110px;

  }
  .hamburger {
    margin-left: auto;
    cursor: pointer;
    width: 26px;
    height: 11px;
    position: relative;
  }
  .hamburger span {
    height: 1px;
    width: 26px;
    background-color: #fff;
    display: block;
    transition: 0.5s ease;
    position: absolute;
  }
  .hamburger span:first-child{
    top: 0;
  }
  .hamburger span:last-child{
    bottom: 0;
  }
/* 
  .hamburger span:last-child{
    margin-top: 9px;
  }
  .hamburger.is-active {    
  }
   */
  .hamburger.is-active span:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .hamburger.is-active span:last-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .header-mobile-wrap {
    color: #fff;
    background-color: #18353E;
    padding: 30px 20px;
    text-align: center;
    display: none;
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    z-index: 12;
  }
  .header-mobile-nav{
    margin-bottom: 40px;
  }
  .header-mobile-nav ul {
    list-style-type: none;
    padding: 0;
  }
  .header-mobile-nav ul li {
    margin-bottom: 25px;
  }
  .header-mobile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .header-mobile-info img {
    margin-right: 12px;
  }
  .header-mobile-social {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 28px;
  }
}